body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: lightgrey;
}

#map {
  color:white;
  cursor:move;
  position:relative;
    
}

#map img {
    position:absolute;
    width: 256px;
    height:256px;
    image-rendering: optimizeSpeed; 
}

.dot {
    color: yellow;
    width: 10px;
    height: 10px;
    background-color:  red;
    z-index: 1000000;
    position: absolute;
}

.key {
    width: 256px;
    height: 256px;
    border: 1px solid red;
    z-index: 1000000;
    position: absolute;
}




