body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: lightgrey;
}

#map {
  color:white;
  cursor:move;
  position:relative;
   
}

#map img {
    position:absolute;
    width: 256px;
    height:256px;
    image-rendering: optimizeSpeed; 
    backface-visibility: hidden;
    
}

.dot {
    color: white;
    width: 20px;
    height: 20px;
    background-color: white;
    z-index: 1000000;
    position: absolute;
    border-radius: 50%;
    border: 10px solid black;
    pointer-events: none;
}


    

.key {
    width: 256px;
    height: 256px;
    border: 1px solid red;
    z-index: 1000000;
    position: absolute;
}

input[type="text"] {
    z-index: 100000000000;
    position: absolute;

}




